$color-primary: #f38e82;
$color-grad-1: #fbdb89;
$color-grad-2: #f48982;


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
    min-height: 100vh;
}

body {
    min-height: 100%;
    background-image: linear-gradient(to right bottom, $color-primary, $color-grad-1);
}

.container {
    max-width: 120rem;
    min-height: 110rem;
    background-color: aliceblue;
    margin: 0 auto;
    border-radius: 0.5rem;

    @include breakpoints-up("xl"){
        margin: 4vw auto;
    }
}